@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));



:root {
  --theme-bg:#3874ff;
  --side-bar-primary:#fff;
  --side-bar-foreground:#212121;
  --side-bar-nav-active:var(--theme-bg);
  --border-primary:#cbd0dd;
  --border-secondray:#e2e2e2;
  --input-border:var(--border-secondray);
  --input-border-focus:#212121;
  --sleleton-bg:#ebebf1;
  --bg-primary:#000;
  --bg-secondray:#f5f7fa;
  --white-text-foreground:#fff;
  --gray-text-foreground:#8d8b8b;
}

.active-filter {
  filter: brightness(0) saturate(100%) invert(60%) sepia(64%) saturate(7362%) hue-rotate(212deg) brightness(101%) contrast(101%);
}
.link-text{
  color: var(--theme-bg);
  text-decoration: underline;
  cursor: pointer;
}

 input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;

  }


body{
  background: var(--bg-secondray);
}
